.Ainas0{
    background-color: wheat;
    color: black;
    margin: 0 0 0 0; 
 }
.Ainas1 {
    margin-left: 80px;
    margin-right: 100px;
    float: left;
    background-color: #2577b9;
    margin-top: 21px;
    border-radius: 50%;
    border: 6px solid;
    
   
}
.Ainas2 {
    background-color: #2577b9;
}
.Ainas{
        text-align: justify;
        background-color: black;
        color: wheat;
        margin-left: 350px;
        margin-right: 700px;
        border:8px solid #ff7A00;
        

}
.Ainas4{
   

}
.Ainas5{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 120px;
    margin-right: 120px;
    background-color:#2b2b2b ;
}
.Ainas6{
    background-color:#2b2b2b  ;
}

header{
    background-color: #2577b9;

}
footer{
    background-color: #2b2b2b ;
}
