.Ainas0{
    background-color: black;
    color: aliceblue;
    margin: 0 0 0 0;
 
}
.Ainas1 {
    margin-left: 80px;
    margin-right: 100px;
    float: left;
    background-color: #D4AF37;
    margin-top: 21px;
}
.Ainas2 {
    background-color: #D4AF37;
}
.Ainas3{
    margin-left: 350px;
    text-decoration: underline;
}
.Ainas4{
    margin-left: 400px;
}
.Ainas5{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 120px;
    margin-right: 120px;
    background-color:#2b2b2b ;
}
.Ainas6{
    background-color:#2b2b2b  ;
}

head